{% load allauth %}

{% if attrs.type == "textarea" %}
  <div class="form-control mb-3">
    <label class="label label-text" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
    <textarea {% if attrs.required %}required{% endif %}
              {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
              {% if attrs.disabled %}disabled{% endif %}
              {% if attrs.readonly %}readonly{% endif %}
              {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
              {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
              {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
              class="textarea textarea-bordered w-full">{% slot value %}{% endslot %}</textarea>
  </div>
{% elif attrs.type == "radio" %}
  <div class="flex items-center gap-2 mb-2">
    <input {% if attrs.required %}required{% endif %}
           {% if attrs.disabled %}disabled{% endif %}
           {% if attrs.readonly %}readonly{% endif %}
           {% if attrs.checked %}checked{% endif %}
           {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
           {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
           {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
           type="radio"
           class="radio radio-sm" />
    <label for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
  </div>
{% else %}
  <div class="form-control mb-3">
    <label class="label label-text" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
    <input {% if attrs.required %}required{% endif %}
           {% if attrs.disabled %}disabled{% endif %}
           {% if attrs.readonly %}readonly{% endif %}
           {% if attrs.checked %}checked{% endif %}
           {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
           {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
           {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
           {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
           value="{{ attrs.value|default_if_none:"" }}"
           type="{{ attrs.type }}"
           class="input input-bordered w-full" />
  </div>
{% endif %}
{% if slots.help_text %}
  <div class="label-text-alt text-neutral-400 mt-1">{% slot help_text %}{% endslot %}</div>
{% endif %}
